.gradient-form {
    background-color: 
    #CFD8BB;
}

.card-img {
    width: 185px;
}
.btn-floating {
    font-size: 40px !important;
}

.loginbtn {
    width: 38px !important;
    height: 38px !important;
    font-size: 27px !important;
    margin: 0 8px !important;
    line-height: 0px !important;
    padding: 4px;
    border: none;
}

.gradient-custom-2 {
    background: #CFD8BB;
    background: linear-gradient(to right,#7da72a, #94b453, #9fbb66,#94b453, #7da72a );
}

.green-btn {
    background-color:  #7da72a;
    border-color:  #94b453!important; 
    /* Add other styling properties as needed */
  }
  
  .green-btn {
    background-color: #7da72a ;
    color: white;
     /* Set text color to white or a contrasting color */
    /* Add other styling properties as needed */
  }
  
/* Override the active and hover states for the green button */
.green-btn:hover,
.green-btn:active {
  background-color: white ;
  color: black; /* Set text color to white or a contrasting color */
  border-color: #7da72a 
  /* Add other styling properties as needed */
}

/* Override the hover color for the btn-outline-danger class */
.btn-outline-danger:hover {
    background-color: white !important; /* Set the desired hover background color */
    color: black !important; /* Set text color to white or a contrasting color */
    border-color: #7da72a 
    /* Add other styling properties as needed */
  }
  
/* Override the hover color for the loginbtn class */
.loginbtn:hover {
    background-color: #7da72a  !important; /* Set the desired hover background color */
    color: white !important; /* Set text color to white or a contrasting color */
    border-color: #7da72a  !important;
    /* Add other styling properties as needed */
  }

/* Override the active state styles for the btn btn-outline-danger class */
.btn.btn-outline-danger:active,
.btn.btn-outline-danger:focus { /* Add this for the focus state */
  background-color: #7da72a !important; /* Set the desired background color on click */
  border-color: #7da72a !important; /* Set the desired border color on click */
  color: white !important; /* Set text color to white or a contrasting color */
  /* Add other styling properties as needed */
}

/* Remove or modify the focus outline for the btn btn-outline-danger class */
.btn.btn-outline-danger:focus {
    outline: none; /* Remove the focus outline completely */
    /* or */
    /* Customize the focus outline as needed */
    outline-color: #7da72a ; /* Set the outline color to green */
    /* Add other styling properties as needed */
  }


  
  
  
/* for mobile responsive */
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

